[Unit]
Description=StarLord Server 1
After=network-online.target

[Service]
User=server1
Group=server1
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/game"
Environment="STARLORD_CONFIG=spaceage_forlorn"
ExecStart=/usr/bin/python3 /home/server1/StarLord
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
